body, button, input { 
    font-family: 'Courier New', Courier, monospace;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: auto;
    position: relative;
}

video, .container > .imgContainer {
    align-items: center;
    border: solid 1px #fff;
    border-radius: 12px;
    display: flex;
    height: 440px;
    position: relative;
    width: 585px;
}

.container > div > img {
    width: 100%;
    display: none;
}

button {
    cursor: pointer;
    display: block;
    margin: 10px auto;
    width: 125px;
    padding: 10px 0 10px 0;
}
